target/
/doc/gen/*
/**/.settings/
/**/.project
Makefile
.DS_Store
Thumbs.db
*.swp
/node_modules/
.front-build-cache
tags
/after-file-change
/tincr.json
/.webapp-build-temp/
/.idea
*.iml
/test-output/
buildStress.sh
tool/createExercise.sh
sdklog/
/**/logs/*
.classpath
nohup.out
*.pid
.idea/*
*.log
